.hex {
  &-map {
    margin-top: 42px;
    padding: 36px 0 0 0;
    background: $grey-10;
    overflow: hidden;
    width: 100%;
    height: 652px;
  }

  &-row {
    margin-top: -42px;
    width: 1320px;

    &:nth-child(even) {
      margin-left: -60px;
    }
  }

  &-tile {
    float: left;
    width: 120px;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: -38px;

    &.grass-01 { background-image: url('/images/grass/grass_01.png'); }
    &.grass-02 { background-image: url('/images/grass/grass_02.png'); }
    &.grass-03 { background-image: url('/images/grass/grass_03.png'); }
  }
}
