<!DOCTYPE html>
<html>
  <head>
    <title>Shiny Space Pirates | General Assembly</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.patternsUrl %>" type="text/css" media="screen" charset="utf-8">
    <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
  </head>
  <body>
    <main role="main" id="app" className="main-content"></main>
  </body>
</html>
