// Grayscale
$white:         #ffffff !default;
$grey-1:        #f6f6f6 !default;
$grey-2:        #ececec !default;
$grey-3:        #dadada !default;
$grey-4:        #c3c3c3 !default;
$grey-5:        #a2a2a2 !default;
$grey-6:        #818181 !default;
$grey-7:        #666666 !default;
$grey-8:        #4e4e4e !default;
$grey-9:        #383838 !default;
$grey-10:       #222222 !default;
$black:         #000000 !default;

// Red
$pale-pink-2:   #ffe6ec !default;
$pale-pink-1:   #fac8d6 !default;
$pink-1:        #ffaec2 !default;
$red-1:         #fa4542 !default;
$red-2:         #ff5f5f !default;
$red-3:         #e51b24 !default;
$red-4:         #a20101 !default;

// Yellow
$pale-yellow-2: #fef8e1 !default;
$pale-yellow-1: #fdeba3 !default;
$yellow-1:      #ffdb00 !default;
$yellow-2:      #f7af0b !default;
$yellow-3:      #f39102 !default;
$yellow-4:      #e75200 !default;

// Mint
$pale-mint-2:   #edfcf9 !default;
$pale-mint-1:   #c8f5ee !default;
$mint-1:        #85e8da !default;
$teal-2:        #1ecac7 !default;
$teal-3:        #048a97 !default;
$teal-4:        #01515f !default;

// Sky
$pale-sky-2:    #e4f1fe !default;
$pale-sky-1:    #acd5fc !default;
$sky-1:         #47a2f8 !default;
$sky-2:         #1e73f2 !default;
$sky-3:         #0745eb !default;
$sky-4:         #000189 !default;

// Functional
$action-red:    #d95450 !default;
$action-yellow: #f7af0b !default;
$action-green:  #5db85c !default;
